* {
    box-sizing: border-box;
}
html, body {
    font-family: sans-serif;
}
html {
    scroll-behavior: smooth;
}

.display {
    text-align: center;
}

img {
    max-width: 100%;
}

.day-night-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .day-image {
    grid-column: 1/2;

}

.night-image {
    grid-column: 2/3;

}

iframe {
    margin-top: 30px;
}

#infoContainer, #infoContainer-facts, #quick-facts {
    padding-top: 50px;
    margin-top: 50px;
}

#infoContainer-facts {
    margin-top: 300px;
}

#infoContainerSm-facts {
    margin-top: 300px;
}
.skip {
    left: 50%;
    position: absolute;
    transform: translateY(-110%);
}

.container{
    margin-top: 20px;
}

.skip:focus {
    transform: translateY(0%);
}

body {
    margin: 0;
    font-family: "Nunito," Roboto;
    font-size: 1rem;
    line-height: normal;
    text-align: left;
}
/* .hero-wrap{
    background-color: #000;
} */
nav .active{
    text-decoration: underline;
    font-weight: bold;
    color: black;
}


.flex-container {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    padding: 2px;
    margin: 0px;
  }
  
  .flex-item-infos {
    background: #000B30;
    padding: 5px;
    width: 200px;
    height: 120px;
    margin-top: 10px;
    line-height: 150px;
    color: white;
    border-radius: 10px;
    font-size: 1em;
    text-align: center;
  }

.navbar-brand{
    margin-left: 10%;
}

.navbar p, footer p  {
    margin-left: 10%;
}
.container-fluid {
    margin-left: 10%;
}

.hero {
    background-image: 
        /* linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), */
        url("../images/everest_png_background.png");   /* Photo credit: Theodor Lundqvist */
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* opacity: 0.6; */
    /* filter: grayscale(1); */
    filter: contrast(1);
    margin-top: 50px;
    margin-bottom: -60px;
}

.heroTrek {
    background-image: 
        /* linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), */
        url("../images/everest_trek_page.jpg");   /* Photo credit: Theodor Lundqvist */
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* opacity: 0.6; */
    /* filter: grayscale(1); */
    filter: contrast(1);
    margin-top: 0px;
    margin-bottom: -60px;
}
.heroHistory {
    background-image: 
        /* linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), */
        url("../images/hero_timeline.jpg");   
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.6; */
    /* filter: grayscale(1); */
    filter: contrast(1);
    margin-top: 0px;
    margin-bottom: -60px;
}

.heroContact {
    background-image: 
        /* linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), */
        url("../images/contact_page_everest.jpg");   
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* opacity: 0.6; */
    /* filter: grayscale(1); */
    filter: contrast(1);
    margin-top: 50px;
    margin-bottom: -60px;
}

.heroStories {
    background-image: 
        /* linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), */
        url("../images/traffic_jam.jpg");   
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* opacity: 0.6; */
    /* filter: grayscale(1); */
    filter: contrast(1);
    margin-top: 0px;
    margin-bottom: -60px;
}
.column img {
    width: 200px;
    height: 200px;
}
.btn-primary{
    background-color: #002962;
    margin-top: 20px;
    padding-top: 10px;
}
.btn {
    margin-top: 30px;
}

p {
    margin-top: 20px;
}

.hero-text {
    justify-self: left;
    top: 70%;
    color: black;
}
.hero h1 {
    font-size: 5rem;
    opacity: 1.0;
    /* text-shadow: 2px 2px #000; */
}

h1{
    font-size: 5em;
    font-weight: 300;
    margin-bottom: 30px;
}

h2{
    font-size: 3em;
    font-weight:300;
    margin-top: 40px;

}

button {
    padding: 10px;
}

.display{
    box-sizing: border-box 5px #044998; 
    background-color: #4986C6;
    border-radius: 10px;
    color: #000B30;
    padding: 20px;
    font-size: 3em;
    margin: 20px;
}

h3 {
    font-size: 2em;
    font-weight: 150;
    margin-top: 10px;
}

.graph-container h3 {
    margin-top: 60px;
}

.card {
    background-color: whitesmoke;
    padding-left: 5px;
    padding-top: 5px;
}

main {
    margin: 10%;
}
footer {
    position: fixed;
    color: white;
    margin-top: 30px;
}
/* 
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}


.column {
    flex: 20%;
    max-width: 25%;
} */

.column img {
    vertical-align: auto;
    width:100%;
}


.timeline:before {
    content: '';
    position:absolute;
    height:100%;
    left:50%;
    width:2px;
    top:100px;
    background:grey;
    z-index:1;
  }
 
.timeline:before {
    content: '';
    position:absolute;
    height:100%;
    left:50%;
    width:2px;
    top:100px;
    background:grey;
    z-index:1;
  }
  .timeline{
    position:relative;
    margin: 50px auto;
    width:1000px;
    padding:50px 0;
  }
  
  .timeline-img{
    width:400px;
}
  .timeline ul li{
    list-style:none;
    box-sizing:border-box; 
    line-height:normal;
    position:relative;
    width:50%;
    padding: 40px 70px;
  }
  
  .timeline ul li .timeline-item h2{
    color:black;
  }
  
  .timeline{
    width:100%;
  }
  .timeline:before{
    left:10px;
  }
  .timeline ul li:nth-child(odd),
  .timeline ul li:nth-child(even){
    width:100%;
    text-align:left;
    padding-left:20px; 
  }

  form {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      margin-top: 50px;
  }

  input {
      padding:10px;
      border: 2px solid grey;
      border-radius: 10px;

  }
  label {
      font-size: 30px;
  }
  button {
    border-radius: 10px;
    background-color: #002962;
    color: white;
  }

  button:hover {
    background-color: #000B30;
  }
  
.flipcard {
    display: none;
}

.parallax {
    background-image: url("../images/everest_img_1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 500px;
    background-size: cover;
    width: 100%;
}


/* different screen size whatnot is below */

@media screen and (min-width: 760px){

.timeline-item{
    width: 50%;
}
.timeline:before {
    content: '';
    position:absolute;
    height:100%;
    left:50%;
    width:2px;
    top:100px;
    background:grey;
    z-index:1;
  }
 
.timeline:before {
    content: '';
    position:absolute;
    height:100%;
    left:50%;
    width:2px;
    top:100px;
    background:grey;
    z-index:1;
  }

  .timeline{
    position:relative;
    margin: 50px auto;
    padding:50px 0;
  }

  .day-night-grid-container {
    display: grid;
    grid-template-columns: auto ;
    grid-gap: 20px;
  }

  .day-image {
      grid-column: 1/2
  }


  
  .timeline ul li{
    list-style:none;
    box-sizing:border-box; 
    line-height:normal;
    position:relative;
    width:50%;
    padding: 40px 70px;
  }
  
  .timeline ul li .timeline-item h2{
    color:black;
  }
  
  .timeline ul li:nth-child(odd){
    left: 0;
    text-align:left;
    clear:both; 
  }
  
  .timeline ul li:nth-child(even){
    left: 50%;
    text-align:left;
    clear:both;
  }


  .timeline-img {
      width:400px;
  }

      form {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        font-size: 20px;
        gap: 5px;
        /* grid-template-columns: 1fr auto; */
    }
    label {
        grid-column: 1/2;
    }

    input{
        grid-column: 2/3;
    }
    button {
        grid-column: 3/4;
        width: 200px;
    }

    .flipcard {
        display: none;
    }



.graph-container {
    display: flex;
    height: 200px;
    justify-content: space-between;
    align-items: flex-end;
    color: white;
    text-align: center;
    background-color:white;
    padding: 20px;
}

.item, .item-1 , .item-3 , .item-2 , .item-4, .item-5 {
    background-color: #002962;
    border-radius: 10px;
    width: 10%;
}

.graph-container-mountains {
    display: flex;
    /* height: 500px; */
    justify-content: space-between;
    align-items: flex-end;
    text-align: center;
    background-color: #e7f6f8;
}

/* .everest, .mcKinley, .kilimanjaro , .elbrus  {
    width: 200px;
} */

.everest p, .mcKinley p, .kilimanjaro p, .elbrus p {
    margin: 0px;
    color: black;
}

#everest-height {height: 22%;}
#mcKinley-height{height: 67%;}
#kilimanjaro-height{height: 66%;}
#elbrus-height{height: 65%;}


/* CLIMBS - multiplied by 2 becuase too small otherwise */
.item-1 {height: 30%;}
.item-2 {height: 62%;}
.item-3 {height: 28%;}
.item-4 {height: 32%;}
.item-5 {height: 60%;}
.item-6 {height: 90%;}
.item-7 {height: 130%;}


@media screen and (min-width: 800px) {
    .flip-card {
        background-color: transparent;
        width: 300px;
        height: 300px;
        perspective: 1000px;
      }
      
      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
        box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
      }
      
      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }
       
      /* need active and need focus w/ n */
      .flip-card:hover .flip-card-inner,
      .flip-card:focus-within .flip-card-inner,
      .flip-card:active .flip-card-inner,
      .flip-card:focus .flip-card-inner  {
        transform: rotateY(180deg);
      }
    
      
      
      .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
      
      .flip-card-back {
        background-color: white;
        color: black;
        transform: rotateY(180deg);
      }
    #animation {
        width: 300px;
        height: 300px;
        background-repeat: no-repeat;
        background-image: url("../images/email_page.jpg");
        position: realative;
        animation-name: shape;
        animation-duration: 5s;
    }
    @keyframes shape {
        from {opacity:0;}
        to {opacity:1;}
    }
}

 
 /* animation testing ends here */
@media print {
    body {
        background-image: none;
    }
    .gallery {
        display: none;
    }
}

/* @media (max-width: 600px) {
    everything's responsive here between bootstrap and the flex items 
} */

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
    .flip-card:hover .flip-card-inner {
            display: none;
        }          
    .skip a{
        -webkit-transition: none; 
        transition: none;       
       }
      header{
        background-attachment: initial;
      }
    #animation {
        animation: none;
    }
    }
}